body {
  background-color: whitesmoke;
}

h1 {
  color: darkred;
  margin-left: 20px;
}
body {
background: white url("girl.jpg") no-repeat fixed center; 
}
.header {
  background-color: #6342f5;
  padding: 20px;
  text-align: center;
}
}

